<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css" />
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>        
        <script>
            function showDialog() {
                $( "#dialog" ).dialog({width: 1124, height: 868});
            }
        </script>
    </head>
    <body>

        <div id="app" class="row">
            <div class="header">
                <div class="header-item"><h2>Photo Manager</h2></div>
                <div class="header-item"><button v-on:click="showUploadDialog">Upload Images</button></div>
            </div>

            <div id="main-div" class="col-15 menu">
                <folder-list @folder-selected="updateSelectedFolder" :key="folder_list_updates" :override_folder_selection="override_folder_selection"></folder-list>
            </div>
            <div style="display: none">
                <div id="upload-dialog" title="Upload Images" style="width: 80%">
                    <image-upload @upload-complete="onUploadComplete" :upload_dialog_mounts="upload_dialog_mounts" :current_folder_name="current_folder_name" :key="upload_dialog_mounts"></image-upload>
                </div>
            </div>

            <div class="col-65 main">
                <div style="display: none">
                    <div id="dialog" title="View Image" style="width: 80%">
                        <img v-if="current_image != null" class="dialog-img" :src="current_image.link" :key="current_image">
                    </div>
                </div>
                <div class="folder-info">
                    <div class="folder-info-content">
                        <folder-info v-if="current_folder_name != null" @folder-deleted="onFolderDeleted" :current_folder_name="current_folder_name" :key="current_folder_name"></folder-info>
                    </div>
                </div>
                <div class="main-content">
                    <image-list v-if="current_folder_name != null" @image-selected="updateSelectedImage" :current_folder_name="current_folder_name" :key="current_folder_name + folder_list_updates"></image-list>
                </div>
            </div>

            <div class="col-20 right">
                <div class="aside">
                    <image-details v-if="current_image != null" :current_image="current_image" :key="current_image.index"></image-details>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Photo Manager -- &copy; 2020 Jonathan Ludwig All Rights Reserved</p>
        </div>

        <script src="/Main.js"></script>
        <script src="/components/FolderList.js"></script>
        <script src="/components/FolderInfo.js"></script>
        <script src="/components/ImageList.js"></script>
        <script src="/components/ImageDetails.js"></script>
        <script src="/components/ImageUpload.js"></script>
        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>
</html>