* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
}
.vertical-element {
    overflow-y: auto; /* Enabled vertical scroll */
}
div#app {
    bottom: 0;
    min-height: max-content;
    max-height: max-content;
}
/* allow room for 3 columns */
ul
{
    list-style-type: none;
    /* width: 60em;*/
}  /* float & allow room for the widest item */
ul.image-list li.image-list-item
{
    float: left;
    width: 12em;
    padding: 1em;
    text-align: center;
}  /* stop the float */
ul.folder-list {
    padding: 0px;
}
li.folder-list-item {
    cursor: pointer;
    padding: 0.5em;
    text-align: left;
}
br
{
    clear: left;
}  /* separate the list from subsequent markup */
div.wrapper
{
    margin-left: 0.5em;
    margin-bottom: 1em;
    height: 95vh;
}
div.image-view {
    height: 95vh;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;*/
    padding: 0px 0px;
    background-color: #6E7777;
}
div.sidenav-content {
    height: 99%;
    top: 0;
    bottom: 0;
    padding: 0.1;
    margin: 0;
    border: 0;
    margin-right: 3px;
    background-color: #FFFFFF;
}
/* Style page content */
.main {
    top: 50px;
    bottom: 0;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 0px;
    min-height: max-content;
    height: 100vh;
}
.selected {
    display:inline-block;
    background-color: rgb(0, 153, 255);
}
div.banner {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: #6E7777;
}
div.banner-content {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 8px;
    padding-left: 1em;
    padding-bottom: 8px;
    height: 31px;
}
span.banner-text {
    font-size: 160%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: bold;
}
h3.folders_title {
    margin-top: 0.25em;
}
div.folder-info {
    margin-top: 50px;
    padding-left: 1em;
    height: 70px;
    width: 100vw;
    background-color: #EEEEEE;
    display: flex;
}
span.folder-info-item {
    padding: 1em;
    padding-top: 1.8em;
    vertical-align: text-bottom;
    font-size: 90%;
}
span.folder_name {
    padding-top: 0.9em;
    font-weight: bold;
    font-size: 130%;
}