li.image-list-item {
    float: left;
    width: 170px;
    height: 120px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    font-size: small;
    margin: 5px;
}

.image-list-item > img {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

ul.folder-list {
    padding: 0px;
}

li.folder-list-item {
    cursor: pointer;
    padding: 0.5em;
    text-align: left;
}

br
{
    clear: left;
}  /* separate the list from subsequent markup */

* {
    box-sizing: border-box;
    overflow-y: hidden;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #62b2e0;
    padding: 5px;
    padding-left: 15px;
    height: 80px;
    border-bottom: solid rgb(77, 77, 77) 3px;
}

div.menu-title {
    padding: 8px;
    background-color: #F0F0F0;
    height: 50px;
}

ul {
    list-style: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.menu {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    overflow-y: auto; /* Enabled vertical scroll */
    border-right: solid darkgray 3px;
}
  
.menu li {
    margin: 8px;
    margin-bottom: 7px;
    font-size: small;
}

/* .folder-li > span {
    display:inline-block;
} */

.folder-li > img {
    vertical-align: middle;
}

.selected {
    background-color: rgb(0, 153, 255);
}

div.folder-info-content {
    padding: 15px;
    height: 50px;
    background-color: #F0F0F0;
}

.folder-info-item {
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
}

.component-title {
    font-weight: bold;
    font-size: large;
}

.menu li:hover {
    background-color: #0099cc;
}

div.row {
    height: 100%;
    padding-bottom: 124px;
}

div.folder-info {
    padding: 0;
}

div.main {
    height: 100%;
    overflow-y: auto; /* Enabled vertical scroll */
    padding: 0;
}

div.main-content {
    padding: 15px;
}

div.right {
    overflow-y: auto; /* Enabled vertical scroll */
    padding: 0;
    height: 100%;
    border-left: solid darkgray 3px;
}

.dialog-img {
    max-width: 1024px;
    max-height: 768px;
    width: auto;
    height: auto;
}

#dialog {
    text-align: center;
}

.aside {
    overflow-y: auto; /* Enabled vertical scroll */
    padding: 0;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100%;
}

.image-detail {
    padding: 0;
    text-align: left;
}

.image-detail-header, .image-detail-name, .image-detail-value {
    padding: 10px;
    text-align: left;
}

.image-detail-header {
    font-weight: bold;
}

.image-detail-name {
    font-weight: bold;
    padding-bottom: 0;
}

.image-detail-value {
    padding-left: 20px;
    padding-top: 0;
}

div.image-detail {
    border-bottom: solid darkgray 1px;
}

div.image-detail-header {
    background-color: #F0F0F0;
    min-height: 50px;
}

.footer {
    background-color: #62b2e0;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.col-5   {width: 5%;}
.col-10  {width: 10%;}
.col-15  {width: 15%;}
.col-20  {width: 20%;}
.col-25  {width: 25%;}
.col-30  {width: 30%;}
.col-35  {width: 35%;}
.col-40  {width: 40%;}
.col-45  {width: 45%;}
.col-50  {width: 50%;}
.col-55  {width: 55%;}
.col-60  {width: 60%;}
.col-65  {width: 65%;}
.col-70  {width: 70%;}
.col-75  {width: 75%;}
.col-80  {width: 80%;}
.col-85  {width: 85%;}
.col-90  {width: 90%;}
.col-95  {width: 95%;}
.col-100 {width: 100%;}
