/* allow room for 3 columns */
ul
{
    list-style-type: none;
    /* width: 60em;*/
}  /* float & allow room for the widest item */
ul.image-list li.image-list-item
{
    float: left;
    width: 12em;
    padding: 1em;
    text-align: center;
}  /* stop the float */
ul.folder-list {
    padding: 0px;
}
li.folder-list-item {
    cursor: pointer;
    padding: 0.5em;
    text-align: left;
}
br
{
    clear: left;
}  /* separate the list from subsequent markup */
div.wrapper
{
    margin-bottom: 1em;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 2em; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;*/
    padding: 0px 0px;
    background-color: #6E7777;
}
div.sidenav-content {
    height: 99%;
    top: 0;
    bottom: 0;
    padding: 0.1;
    margin: 0;
    border: 0;
    margin-right: 3px;
    background-color: #FFFFFF;
}
/* Style page content */
.main {
    margin-top: 2.2em; /* Stay at the top */
    margin-left: 15em; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.selected {
    display:inline-block;
    background-color: rgb(0, 153, 255);
}
div.banner {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 1.7em;
    padding: 0;
    padding-bottom: 5px;
    background-color: #6E7777;
}
div.banner-content {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
h3.folder_name {
    margin-top: 2.2em;
}
h3.folders_title {
    margin-top: 0.25em;
}
